.stats {
  display: flex;
  justify-content: space-around;
  height: 60px;
}

.stats-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.label {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.quantity {
  display: flex;
  justify-content: center;
  font-weight: 700;
}
